
<div ng-controller="accountCtrl">
    <div ng-if="!user.loggedIn">
        <div class="panel panel-default">
            <div class="panel-heading">
                Account
            </div>
            <div class="panel-body">
                <form role="form" id="login" novalidate name="login-form">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="user.username" id="email" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="user.password" id="password" />
                    </div>
                    <div class="form-group" ng-show="signupFlag">
                        <label>Confirm password</label>
                        <input type="password" class="form-control" ng-model="passwordConformation" id="passwordConformation" />
                    </div>
                    <div class="form-group" ng-hide="signupFlag">
                        <button ng-click="loginWithPassword()" class="btn btn-default" ng-disabled="loginInProcess">Login <span class="fa fa-spinner fa-spin" ng-if="loginInProcess==true"></span></button>
                        <input type="checkbox" ng-model="login.keepMeLoggedIn" /><label>Stay logged in</label>
                    </div>
                    <div class="form-group" ng-show="signupFlag">
                        <button ng-click="createAccount(passwordConformation)" class="btn btn-default" ng-disabled="signupInProcess">Signup</button>
                    </div>

                    <div ng-if="showError" class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" ng-click="closeNotice()">×</button>
                        {{login.errorMessage}}
                    </div>

                </form>
            </div>
            <div class="panel-footer">
                <a ng-click="signupFlag=true" ng-hide="signupFlag">Sign up</a>
                <a ng-click="signupFlag=false" ng-show="signupFlag">Sign in</a>
            </div>
        </div>
        <div class="list-group">
            <a href="#home/new" class="btn btn-default btn-block">New recipe</a>
        </div>
    </div>
    

        <div ng-if="user.loggedIn">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Account
                </div>
                <div class="panel-body">
                    <i class="fa fa-user fa-fw"></i> {{user.username}}

                </div>
                <div class="panel-footer">
                    <a href="" class="btn btn-default" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </div>
            </div>
            
            <div class="list-group">
                <a href="#home/new" class="btn btn-default btn-block">New recipe</a>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    Recipes <span class="badge">{{recpeList.length || 0}}</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="recipe in recpeList">
                        <a href="#/home/{{recipe._id}}">
                            {{recipe.name}}
                            <span class="pull-right text-muted small">{{recipe.updated | formatTime}}</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>


    </div>

